@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-secondary" asp-controller="Vehicles" asp-action="RegisterVehicleToMember">Register Vehicle</a>
<a class="btn btn-secondary" asp-controller="Members" asp-action="RegisterNewMember">New Member</a>