
<a class="btn btn-secondary" asp-controller="Vehicles" asp-action="RegisterVehicleToMember">Register Vehicle</a>
<a class="btn btn-secondary" asp-controller="Members" asp-action="RegisterNewMember">New Member</a>