@{
    ViewData["Title"] = "Administration";
}

<h1>Administration</h1>
<br />  
<a class="btn btn-secondary" asp-controller="MembershipTypes" asp-action="Index">Membership types</a>
<a class="btn btn-secondary" asp-controller="VehicleTypes" asp-action="Index">Vehicle types</a>