html {
    position: relative;
    min-height: 100%;    
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    background-color: #131313
}

.content {
    color: whitesmoke;
    margin-left:250px;           
    background-color: #131313;
    padding:20px;
}

.table{
    color:whitesmoke;
}

/***** Modal styling *****/

.modal-content {
    background-color: #131313
}

.close {
    color: whitesmoke;
}

/***** Footer *****/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */    
    color: whitesmoke;
    padding-left:250px;
}

/***** Sidebar *****/
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #101010;
    color: #fff;
    transition: all .3s;
    text-align: left;
    border-right: 1px solid #f5f5f5;
}

.logo a {
    text-decoration: none;
    border: 0;
}
 
.sidebar.active {
        left: 0;
    }


.sidebar ul.menu-elements {
    padding: 10px 0;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

    .sidebar ul li a:hover,
    .sidebar ul li a:focus,
    .sidebar ul li.active > a:hover,
    .sidebar ul li.active > a:focus {
        outline: 0;
        background: #202020;
        color: #fff;
    }

    .sidebar ul li a i {
        margin-right: 5px;
    }

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;    
}


