<h1>You can not delete a vehicle type while there are vehicles registered with that vehicle type</h1>
<br />
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to the main page</a>