@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-5">
    <div class="col">
        <h1>Welcome to Garage 3.0</h1>
    </div>
</div>

<div class="row align-content-center">
    <div class="col text-center ml-4">
        <div class="row">
            <div class="col">
                <a asp-controller="Vehicles" asp-action="Parking" class="btn btn-block btn-lg btn-secondary p-3 m-2">Park a vehicle</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a asp-controller="Vehicles" asp-action="RetrieveParkedVehicle" class="btn btn-block btn-lg btn-secondary p-3 m-2">Retrieve Vehicle</a>
            </div>
        </div>        
    </div>
    <div class="col-1"></div>
    <div class="col border mr-4">        
            @await Component.InvokeAsync("ParkingSlotsTaken")        
    </div>
</div>

